<%inherit file="base.html" />
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <ul id="subhead_menu">
      <li ><a id="sbutton" href="force_search?source=books">Force Search</a></li>
      <li ><a id="pbutton" href="force_process?source=books">Force Post-Processing</a></li>
      %if len(languages) >= 1:
      <li>Language:&nbsp;</li>
      <li><select onchange="window.location = 'books?BookLang=' + this.options[this.selectedIndex].value">
          <option>Select</option>
          %for language in languages:
          <option value="${language['BookLang']}">${language['BookLang']}</option>
          %endfor
        </select></li>
      %endif
    </ul>
  </div>
</%def>
<%def name="body()">
  <BR><BR>
  <h1>&nbsp;&nbsp;${title}</h1>
  <p class="indented">
    <input type="hidden" name="booklang" value="booklang">
    <form action="mark_books" method="get">
      <label>&nbsp;&nbsp;Mark selected books as: </label>
      <select class="mark_books" name="action" id="action">
        <option value="Wanted">Wanted</option>
        <option value="Have">Have</option>
        <option value="Ignored">Ignored</option>
        <option value="Skipped">Skipped</option>
        <option value="Remove">Remove</option>
        <option value="Delete">Delete</option>
        <option value="Leave" class="hidden">Leave</option>
      </select>
      <input type="submit" class="mark_books" id="go" value="Go">
      <br>
      <br>
    </p>
    <table class="display" id="book_table" style="width:100%;">
      <thead>
        <tr>
          <th id="selectall"><input type="checkbox" onClick="toggleAll(this)" /></th>
          <th id="bookart">Cover</th>
          <th id="authorname">Author</th>
          <th id="bookname">Title</th>
          <th id="series">Series</th>
          <th id="stars" class="center">Rating</th>
          <th id="rdate" class="center">Released</th>
          <th id="adate" class="center">Added</th>
          <th id="select" class="center">Status</th>
        </tr>
      </thead>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
        $('#go').click(function () {
                var action = $("#action").val();
                if (action == "Delete") {
                    if (confirm('Are you sure you want to permanently delete the selected books?')) {
                        return
                    } else {
                        $("#action").val("Leave")
                        return
                    }
                } else {
                    return
                }
            });

        var show = ""+${lazylibrarian.CONFIG['BOOK_IMG']};
            if ( show != '1' ) { showimg = false }
            else { showimg = true }

        var oTable = $('#book_table').dataTable(
            {
                "bAutoWidth": false,
                "order": [[ 2, 'asc' ]],
                "aoColumns": [
                    {"bSortable": false,
                      "fnRender": function ( oObj ) {
                        return '<input type="checkbox" name="' + oObj.aData[0] + '" class="checkbox" />'
                      }
                    },
                    {"bSortable": false,
                     "bVisible": showimg,
                      "fnRender": function ( oObj ) {
                        return '<a href="' + oObj.aData[1] + '" target="_new"><img src="' + oObj.aData[1] + '" height="75" width="50"></a>'
                      }
                    },
                    { "fnRender": function ( oObj ) {
                        return '<a href="author_page?authorid=' + oObj.aData[8] + '">' + oObj.aData[2] + '</a>'
                      }
                    },
                    null,
                    null,
                    { "fnRender": function ( oObj ) {
                        return '<img src="images/' + oObj.aData[5] + '-stars.png" alt="Rating">'
                      }
                    },
                    null,
                    { "fnRender": function ( oObj ) {
                        var dtime = oObj.aData[10]
                        var str = String(dtime).substr(0, 10);
                        if (str === "null"){ str = ""}
                        return str
                      }
                    },
                    { "fnRender": function ( oObj ) {
                        var btn = oObj.aData[11]
                        if ( btn.indexOf('Open') >= 0 ) {
                            btn = '<a class="button green" href="open_book?bookid=' + oObj.aData[9] + '&library=eBook" target="_self">' + btn + '</a>'}
                        else if ( btn.indexOf('Wanted') >= 0 ) {
                            btn = '<a class="button red" href="search_for_book?bookid=' + oObj.aData[9] +
                                    '&library=eBook" target="_self"><span class="a">' + btn + '</span><span class="b">Search</span></a>'}
                        else if ( btn.indexOf('Snatched') >= 0 ) {
                            btn = '<a class="button">' + btn + '</a>'}
                        else if ( btn.indexOf('Have') >= 0 ) {
                            btn = '<a class="button">' + btn + '</a>'}
                        else {
                            btn = '<a class="button grey">' + btn + '</a>'}
                        return btn
                      }
                    }
                    ],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ books per page",
                    "sEmptyTable": "No books found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 books",
                    "sInfoFiltered":"(filtered from _MAX_ total books)"},
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'asc']],
                "bServerSide": true,
                "sAjaxSource": 'get_books?source=Books&booklang=${booklang}',
                "bFilter": true,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).addClass("gradeZ");
                    $('td', nRow).eq(0).addClass('center');
                    if ( show != '1' )
                    {
                        $('td', nRow).eq(4).addClass('center');
                        $('td', nRow).eq(5).addClass('center');
                        $('td', nRow).eq(6).addClass('center');
                        $('td', nRow).eq(7).addClass('center');
                    }
                    else
                    {
                        $('td', nRow).eq(5).addClass('center');
                        $('td', nRow).eq(6).addClass('center');
                        $('td', nRow).eq(7).addClass('center');
                        $('td', nRow).eq(8).addClass('center');
                    }
                    var w = window.innerWidth;
                    if ( w < 1024 )
                    {   // hide rating,released,added on medium devices
                        if ( show != '1' )
                        {
                            $('td', nRow).eq(4).addClass('hidden');
                            $('td', nRow).eq(5).addClass('hidden');
                            $('td', nRow).eq(6).addClass('hidden');
                        }
                        else
                        {
                            $('td', nRow).eq(5).addClass('hidden');
                            $('td', nRow).eq(6).addClass('hidden');
                            $('td', nRow).eq(7).addClass('hidden');
                        }
                    }
                    if ( w < 768 )
                    {   // hide cover on small devices
                        if ( show == '1' )
                        {
                            $('td', nRow).eq(1).addClass('hidden');
                        }
                    }
                    if ( w < 640 )
                    {   // hide series on smaller devices
                        if ( show != '1' )
                        {
                            $('td', nRow).eq(3).addClass('hidden');
                        }
                        else
                        {
                            $('td', nRow).eq(4).addClass('hidden');
                        }
                    }
                    if ( w < 320 )
                    {   // hide author on smallest devices
                        if ( show != '1' )
                        {
                            $('td', nRow).eq(1).addClass('hidden');
                        }
                        else
                        {
                            $('td', nRow).eq(2).addClass('hidden');
                        }
                    }
                    return nRow;
                },
            });
        $('.dataTables_filter input').attr("placeholder", "Search table here");
        //$(window).resize(function() {oTable.fnDraw(false)});
    });
  </script>
</%def>
