<%inherit file="base.html"/>
<%!
    import lazylibrarian
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <div id="subhead_menu">
    </div>
  </div>
</%def>
<%def name="body()">
  <br>
  <br>
  <h1>&nbsp;&nbsp;${title}</h1>
  <br>
  <br>
  <table class="display" id="book_table">
    <thead>
      <tr>
        <th id="number">Match</th>
        <th id="bookname">Title</th>
        <th id="provider">Provider</th>
        <th id="size">Size</th>
        <th id="dateadded">Date</th>
        <th id="status">Status</th>
      </tr>
    </thead>
    <tbody>
      %for item in results:
      <tr class="gradeZ">
        <td id="number">${item['score']} %</td>
        <td id="bookname">${item['title']}</td>
        <td id="provider"><a href="${item['url']}">${item['provider']}</a></td>
        <td id="size">${item['size']}</td>
        <td id="dateadded">${item['date']}</td>
        <td id="status"> <a class="button" href="snatch_book?bookid=${bookid}&mode=${item['mode']}&provider=${item['provider']}&url=${item['url']}" title="Snatch">Snatch</a></td>
      </tr>
      %endfor
    </tbody>
  </table>
</%def>
<%def name="headIncludes()">
  <link rel="stylesheet" href="css/data_table.css">
</%def>
<%def name="javascriptIncludes()">
  <script src="js/libs/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function()
    {
    
        $('#book_table').dataTable(
            {
                "responsive": true,
                "order": [[ 0, 'desc' ]],
                "oLanguage": {
                    "sLengthMenu":"Show _MENU_ rows per page",
                    "sEmptyTable": "No results found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ rows",
                    "sInfoEmpty":"Showing 0 to 0 of 0 rows",
                    "sInfoFiltered":"(filtered from _MAX_ total rows)"},
                "sPaginationType": "full_numbers",
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${lazylibrarian.CONFIG['DISPLAYLENGTH']},
            });
            $('.dataTables_filter input').attr("placeholder", "Search table here");
    });
  </script>
</%def>
